$main-color: #2086e8;//.объявляем ПЕРЕМЕННЫЕ
$primary-color: #4bbc37;
$text-color: #7e7c7c;

body {
    margin: 0;
}

@mixin flexAlign($hor: center, $vert: center) {//.ОБЪЯВЛЯЕТСЯ МИКСИН, указаны свойства по умолчанию
    display: flex;
    align-items: $vert;
    justify-content: $hor;
}

.header{
    width: 100%;
    height: 68px;
    padding: 0 150px;
    box-sizing: border-box;
    @include flexAlign(space-between);//.МИКСИН, первое свойство указано, второе свойство не указываем оно идет по умолчанию

    @media screen and (max-width:980px) {//.работает на разрешении 980px и меньше
        padding: 0 15px;
        flex-direction: row-reverse; //.выстраивает в ряд наоборот реверсом
    }

    &__links { //.header__links
        @include flexAlign(flex-start);//.МИКСИН, первое свойство указано, второе свойство не указываем оно идет по умолчанию

        @media screen and (max-width: 640px){ //.работает на разрешении 640px и меньше
            display: none;//.прячет весь блок header_links
        }

        &-item { //.header__links-item
            margin-right: 12px;
            text-decoration: none;
            color: $text-color;
            padding: 10px 14px; 
            border-radius: 4px;
            border: 1px solid transparent;
            box-sizing: border-box;
            transition: 0.4s;
            cursor: pointer;

            &:hover{
                border: 1px solid $main-color;
                background: linear-gradient(to top, $main-color, #37b2f8);
                color: white;
            }
        }
    }

    &__button {//.header__button
        cursor: pointer;
        height: 45px;
        width: 45px;
        border: 2px solid $text-color;
        box-sizing: border-box;
        border-radius: 5px;
        @include flexAlign;//.МИКСИН со значениями по умолчанию
        display: none;
 
        @media screen and (max-width: 640px){
            display: flex;//.кнопка появляется после 640px
        }

        &-line {//.header__button-line
            width: 30px;
            height: 2px;
            background: $text-color;
            position: relative;

            &::after {//.ПСЕВДОКЛАСС
                content: "";//.обязательное свойство для ПСЕВДОКЛАССов
                width: 30px;
                height: 2px;
                background: $text-color;
                position: absolute;
                left: 0;
                top: 7px; 
            }

            &::before {//.ПСЕВДОКЛАСС
                content: "";//.обязательное свойство для ПСЕВДОКЛАССов
                width: 30px;
                height: 2px;
                background: $text-color;
                position: absolute;
                left: 0;
                bottom: 7px;
            }

        }

    }
}

.banner {
    width: 100%;
    height: 530px;
    background-image: url('../images/Sea01.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include flexAlign;//.МИКСИН со значениями по умолчанию
    flex-direction: column;
    color: white;
    position: relative;

    &__title{
        text-transform: uppercase;//.делает все буквы большими
        font-size: 48px;
        margin-bottom: 16px;
        text-align: center;

        &_big{//.МОДИФИКАТОР
            font-weight: bold;
            font-size: 52px;
        }

        @media screen and(max-width: 640px){
            font-size: 36px;
        }
    }

    &__button{
        outline: none;//.убирает обводку кнопки
        width: 270px;
        height: 57px;
        box-sizing: border-box;
        border: none;//.убираем обводку по умолчанию
        border-top: 1px solid #6feb55;
        border-radius: 3px;
        background: linear-gradient(to top, $primary-color, #6dd258);
        color: white;
        font-weight: bold;
        font-size: 34px;
        text-shadow: 1px 1px 1px rgba(black, 0.6);
        box-shadow: 0 0 0 6px rgba(black, 0.1); //.тень кнопки смещение, смещение, размытие, размер
        margin-top: 30px;
    }

    .slider{
        width: 480px;
        height: 245px;
        background-color: white;
        box-sizing: border-box;
        border-bottom: 7px solid $primary-color;
        border-radius: 4px;
        box-shadow: 0 0 10px 0 rgba(black, .4);
        position: absolute;
        left: calc(50% - 240px);//.calc позволяет считать из процентов сразу перещитывать и отнимать пиксели
        bottom: -150px;
        color: #868686;
        padding: 24px 28px 21px 28px;
        box-sizing: border-box;
        @include flexAlign;
        flex-direction:column;

        @media screen and (max-width: 590px) {
            left: 10px;
            width: calc(100% - 20px);
        }
        
        @media screen and (max-width: 500px) {
            height: auto;
            bottom: -200px;
        }

        @media screen and (max-width: 418px) {
            bottom: -270px;
        }

        @media screen and (max-width: 358px) {
            bottom: -360px;
        }


        &__title{
            font-size: 22px;
            margin-bottom: 26px;
            text-align: center;
        }

        &__container {
            width: 100%;
            height: 100%;
            @include flexAlign(space-between, flex-start)
            flex-wrap: wrap;//переносит внутри если элементы не вмещаются в строку

            &-item {
                flex-direction: column;
                @include flexAlign(space-between, flex-start);
                height: 66px;
                font-size: 14px;

            }
        }  
    }
}



.services{
    width: 100%;
    color: $text-color;
    flex-direction: column;
    @include flexAlign;
    padding-top: 210px;
    background-color: #ececec;
    padding-bottom: 75px;

    &__title{
        font-size: 26px;
        margin-bottom: 16px;
        text-align: center;

        @media screen and (max-width: 418px) {
            margin-top: 65px;
        }

        @media screen and (max-width: 358px) {
            margin-top: 165px;
        }

        &_small {
            font-size: 20px;

            @media screen and (max-width: 418px) {
                margin-top: 0px;
            }
    
            @media screen and (max-width: 358px) {
                margin-top: 0px;
            }
        }
    }

    .items{
        width: 760px;
        @include flexAlign(space-between);
        margin-top: 50px;

        @media screen and (max-width: 780px) {
            width: calc(100% - 40px);
            flex-wrap: wrap;//переносит внутри если элементы не вмещаются в одну строку
        }

        .card{
            flex-direction: column;
            @include flexAlign;

            @media screen and (max-width: 780px) {
                margin-bottom: 8px;
            }

            &__circle {
                background: white;
                border-radius: 50%;
                width: 133px;
                height: 133px;
                @include flexAlign;
                margin-bottom: 19px;

                @media screen and (max-width: 780px) {
                    margin-bottom: 8px;
                }

            }
        }
    }
}

.footer{
    width: 100%;
    height: 32px;
    color: white;
    background-color: #414141;
    @include flexAlign;
    font-size: 13px;
}
